*.Rproj.user
.Rproj.user
*.Renviron
*.Rhistory
*.RData
*.Ruserdata

*.svg
*.docx
*.pptx
*.csv
*.xlsx

# Make sentinel directory
.make/
bayes-factors.Rmd
concatenate-var.Rmd
mlgraphicalVAR.R
fit-psychonetrics.R
data_Fisher2017.RDS
graveyard.Rmd
var-posterior-simulation.Rmd
var-reliability-estimate.Rmd
posterior-distance-sampling-comparison.Rmd
norm-exploration.Rmd
posterior-predictive-var.R
l_raw1000.RDS

# Irrelevant folders
**figures/gif
output/empirical-example/test-individual-files
presentations
submissions
manuscript


